<h1>Listing cartts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cartts.each do |cartt| %>
  <tr>
    <td><%= link_to 'Show', cartt %></td>
    <td><%= link_to 'Edit', edit_cartt_path(cartt) %></td>
    <td><%= link_to 'Destroy', cartt, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cartt', new_cartt_path %>
