<%= image_tag("about.png",:alt => "im sad", :size=> "400x100")%>
<p>This is a website , for gamers who want to take gaming to the next level.</p>
<p>GaM3-On allows users to test their gaming skills against other online gamers , may it be with a team or solo.</p>
<p> How the website works is that a member signs up on the website with a team.</p>
<p>They then can create a match by selecting a team to play against , the time of the match , and also the game.</p> 
<p>It is then the users own initiative to play the game and then report the score , which will then update their teams score on the league table</P>
